
@{
    ViewData["Title"] = "Index";
}
@ViewBag.Message
@ViewBag.Fecha

<h2><span>Cuidados necesarios para un chihuahua de pelo largo</span></h2>
<p>Aunque lo que más destaca del chihuahua de pelo largo es su precioso pelaje, lo cierto es que no requiere muchos cuidados especiales ni trabajo de acicalamiento excesivo por nuestra parte. No obstante, eso no significa que no debamos seguir unas pautas, simples, pero específicas.</p>
<p>
    El pelaje de estos perros es largo, denso, lacio y suave y se presenta en forma de flecos o “plumero” en orejas, cola, pies, cuello y parte trasera de las patas. Para mantener el pelo de nuestro can con estas condiciones y saludable, cuidado y bonito, debemos seguir estos consejos:<div class="su-list" style="margin-left:0px">
        <ul>
            <li> No cortarles nunca el pelo: excepto pequeños retoques en las pezuñas, cortando el pelo sobrante y dejándolo en forma redondeada.</li>
            <li> Cepillar a estos perros a menudo para sanear su pelo, deshacerse del pelaje sobrante y evitar los molestos nudos detrás de las orejas.</li>
            <li>Dado que no suelen ensuciase demasiado, no es necesario bañarles con demasiada frecuencia.</li>

        </ul>
</p>



